@media only screen and (max-width : 1200px) {
    a {
        font-size: .6em;
    }
}

@media only screen and (max-width : 800px) {
    #header-grid h1 {
        font-size: 1.3em;
    }

    #header-grid h3 {
        font-size: .8em;
    }

    #featured-grid figure {
        grid-column: 1/4;
    }
}

@media only screen and (max-width : 600px) {
    .icon-grid {
        padding: 0 5%;
    }
}

@media only screen and (max-width : 440px) {
    body {
        padding: 25px 8% 80px 8%;
    }
    
    #header-grid h1 {
        font-size: 1em;
    }

    #header-grid h3 {
        font-size: .6em;
    }

    #header-grid img {
        height: 35px;
    }

    hr {
        margin: 10px 0 15px 0;
        border: 1.5px solid #7d97ad;
    }

    .icon-grid {
        padding: 0;
    }
}